@model PROJECTBDS.ViewModels.RealViewModel
@Html.AntiForgeryToken()
@Html.ValidationSummary(true)
<input type="hidden" value="@Model.Id" name="Id" />
<div class="box box-profile box-real">
    <div class="box-title">Thông tin cơ bản</div>
    <div class="box-content">
        <div class="form-group field-re-title required">
            <label class="control-label col-md-3" for="title">Tiêu đề</label>
            <div class="col-md-9">
                @Html.TextBoxFor(t => t.Title, new { @class = "form-control", placeholder = "Nhập tiêu đề" })
                @Html.ValidationMessageFor(m => m.Title)
            </div>
        </div>
        <div class="form-group field-re-address">
            <label class="control-label col-md-3" for="address">Địa chỉ</label>
            <div class="col-md-9">
                @Html.TextBoxFor(t => t.Address, new { @class = "form-control", placeholder = "Nhập địa chỉ" })
                @Html.ValidationMessageFor(m => m.Address)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="ProvinceId">Tỉnh thành/Quận huyện</label>
            <div class="col-md-9 col-lg-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="ProvinceId">
                            @Html.DropDownListFor(model => model.ProvinceId, Model.Provinces, new { name = "Title", id = "ProvinceId", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ProvinceId)
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="field-re-district_id required">
                            @Html.DropDownListFor(model => model.DistrictId, Model.Districts, new { name = "Title", id = "DistrictId", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.DistrictId)
                        </div>
                    </div>
                    <!--/span-->
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" for="MethodId">Phương thức/Loại</label>
            <div class="col-md-9 col-lg-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class=" field-re-method">
                            @Html.DropDownListFor(model => model.CategoryId, Model.Categories, new { name = "Title", id = "CategoryId", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CategoryId)
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class=" field-re-type">
                            @Html.DropDownListFor(model => model.TypeId, Model.Types, new { name = "Title", id = "TypeId", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.TypeId)
                        </div>
                    </div>
                    <!--/span-->
                </div>
            </div>
        </div>
        <!--giá và đơn vị-->
        <div class="form-group">
            <label class="control-label col-md-3" for="Price">Giá/ Đơn vị giá</label>
            <div class="col-md-9 col-lg-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="price">
                            @Html.TextBoxFor(t => t.Price, new { @class = "form-control", placeholder = "Nhập giá", type = "number", min = "0", step="0.01" })
                            @Html.ValidationMessageFor(m => m.Price)
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class=" field-re-price_unit">
                            @Html.DropDownListFor(model => model.UnitId, Model.Units, new { name = "Title", id = "UnitId", @class = "form-control" })
                        </div>
                    </div>
                    <!--/span-->
                </div>
            </div>
        </div>
        <!--Hướng nhà và pháp lý-->
        <div class="form-group">
            <label class="control-label col-md-3" for="DirectionId">Hướng nhà (*)</label>
            <div class="col-md-9 col-lg-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class=" field-re-direction required">
                            @Html.DropDownListFor(model => model.DirectionId, Model.Directions, new { name = "Title", id = "DirectionId", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.DirectionId)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class=" field-re-phaply required">
                            @Html.DropDownListFor(model => model.RuleId, Model.Rules, new { name = "Title", id = "RuleId", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.RuleId)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Dự án-->
        <div class="form-group">
            <label class="control-label col-md-3" for="ProjectId">Dự án (*)</label>
            <div class="col-md-9 col-lg-9">
                <div class=" field-re-project_id required">
                    @Html.DropDownListFor(model => model.ProjectId, Model.Projects, new { name = "Title", id = "ProjectId", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ProjectId)
                </div>
            </div>
        </div>
        <div class="form-group field-re-code_lot">
            <label class="control-label col-md-3" for="BlockCode">Mã Lô/Căn</label>
            <div class="col-md-9">
                @Html.TextBoxFor(t => t.BlockCode, new { @class = "form-control", placeholder = "Nhập vị trí/Mã căn" })
                @Html.ValidationMessageFor(m => m.BlockCode)
            </div>
        </div>
        <div class="form-group">
            <!--duong truoc nha-->
            <label class="control-label col-md-3" for="Facede">Đường trước nhà</label>
            <div class="col-md-9 col-lg-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class=" field-re-front required">
                            @Html.TextBoxFor(t => t.Facede, new { @class = "form-control", placeholder = "Nhập đường mặt tiền (m)" })
                            @Html.ValidationMessageFor(m => m.Facede)
                        </div>
                    </div>
                    <!--diện tích-->
                    <div class="col-md-6">
                        <div class=" field-re-area required">
                            @Html.TextBoxFor(t => t.Area, new { @class = "form-control", placeholder = "Nhập diện tích (dài x rộng)" })
                            @Html.ValidationMessageFor(m => m.Area)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box box-profile box-real">
    <div class="box-title">thông tin mô tả</div>
    <div class="box-content">
        <div class="form-group field-re-description required">
            <label class="control-label col-md-3" for="Content">Mô tả</label>
            <div class="col-md-9">
                @Html.TextAreaFor(t => t.Content, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Content)
            </div>
        </div>
    </div>
</div>
<div class="box box-profile box-real">
    <div class="box-title">Hình ảnh</div>
    <div class="box-content">
        <div class="form-group field-re-file_name">
            <label class="col-md-3 control-label no-padding-right">
                <label class="control-label" for="re-file_name">Tên file (720x532)</label>
            </label>
            <div class="col-md-9">
                <input type="file" id="re-file_name" class="file-loading" name="Image" multiple accept="image/*" data-krajee-fileinput="fileinput_9046b37b">
            </div>
        </div>
        @if (Model.Image != null)
        {
            <div class="form-group field-re-file_name">
                <label class="col-md-3 control-label no-padding-right">
                    <label class="control-label" for="re-file_name"></label>
                </label>
                <div class="col-md-9">
                    <img src="@Model.Image" alt="@Model.Title" style="width: 200px"/>
                </div>
            </div>
        }
    </div>
</div>
<div class="box box-profile box-real box-real-client">
    <!-- hide -->
    <div class="box-title">Người ký gửi</div><div class="box-content">
        <div class="form-group field-reclient-name">
            <label class="control-label col-md-3" for="ClientName">Tên</label>
            <div class="col-md-9">
                @Html.TextBoxFor(t => t.ClientName, new { @class = "form-control", placeholder = "Nhập tên" })
                @Html.ValidationMessageFor(m => m.ClientName)
            </div>
        </div>
        <div class="form-group field-reclient-address">
            <label class="control-label col-md-3" for="ClientAddress">Địa chỉ</label>
            <div class="col-md-9">
                @Html.TextBoxFor(t => t.ClientAddress, new { @class = "form-control", placeholder = "Nhập địa chỉ" })
                @Html.ValidationMessageFor(m => m.ClientAddress)
            </div>
        </div>
        <div class="form-group field-reclient-company">
            <label class="control-label col-md-3" for="ClientCompany">Công ty</label>
            <div class="col-md-9">
                @Html.TextBoxFor(t => t.ClientCompany, new { @class = "form-control", placeholder = "Nhập Công ty" })
                @Html.ValidationMessageFor(m => m.ClientAddress)
            </div>
        </div>
        <div class="form-group field-reclient-mobile">
            <label class="control-label col-md-3" for="ClientCellPhone">Điện thoại di động</label>
            <div class="col-md-9">
                @Html.TextBoxFor(t => t.ClientCellPhone, new { @class = "form-control", placeholder = "Nhập mobile" })
                @Html.ValidationMessageFor(m => m.ClientCellPhone)
            </div>
        </div>
        <div class="form-group field-reclient-phone">
            <label class="control-label col-md-3" for="ClientPhone">Điện thoại bàn</label>
            <div class="col-md-9">
                @Html.TextBoxFor(t => t.ClientPhone, new { @class = "form-control", placeholder = "Nhập điện thoại" })
                @Html.ValidationMessageFor(m => m.ClientPhone)
            </div>
        </div>
        <div class="form-group field-reclient-email">
            <label class="control-label col-md-3" for="ClientEmail">Địa chỉ Email</label>
            <div class="col-md-9">
                @Html.TextBoxFor(t => t.ClientEmail, new { @class = "form-control", placeholder = "Nhập Email" })
                @Html.ValidationMessageFor(m => m.ClientEmail)
            </div>
        </div>
    </div>
</div>
