@model PROJECTBDS.ViewModels.UserViewLogin
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<section class="head-bg-bottom">
    <div class="container">
        <h1>Đăng ký</h1>
    </div>
</section>
<style>
    input.input-validation-error {
        border-color: #a94442;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    }

    .validation-summary-errors {
        list-style-position: inside;
        list-style-type: none;
        color: red;
        padding-bottom: 30px;
    }

    .validation-summary-errors ul {
        padding-left: 0;
    }

    .field-validation-error {
        color: #a94442;
    }
</style>
<section class="content-bottom page-child page-register page-login">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="box box-news-detail">
                    <div class="box-title box-title-border">
                        Đăng nhập
                    </div>
                    <div class="box-content">
                        <div class="login-form-wraper">
                            @using (Html.BeginForm("Login", "User", FormMethod.Post, new { role = "form" }))
                            {

                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary()
                                <div class="form-group field-loginform-username required">
                                    <label class="control-label" for="Username">Tên đăng nhập hoặc Email <span>(*)</span>:</label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Username)
                                    </div>
                                </div>
                                <div class="form-group field-loginform-password required">
                                    <label class="control-label" for="Password">Mật khẩu <span>(*)</span>:</label>
                                    <div class="">
                                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Password)
                                    </div>
                                </div>
                                    <div class="form-group">
                                        <div class="">
                                            <button type="submit" class="btn btn-info" name="login-button">Đăng nhập</button> <a href="#" class="btn-forgot-password">Quên mật khẩu ?</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="text-center">
                                            <p>
                                                Nếu bạn chưa có tài khoản tại<br><strong>SunLand.vn</strong>
                                            </p>
                                            <a href="@Url.RouteUrl("DangKy")" class="btn btn-default">Đăng ký</a>
                                        </div>
                                    </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box-search box-search-fixtop">
                    <div class="box-title">
                        Tìm kiếm bất động sản
                    </div>
                </div>
                @Html.Partial("_Partial_Subscribe")
            </div>
        </div>
    </div>
</section>