@using Humanizer
@using PROJECTBDS.Infrastructure
@model IEnumerable<PROJECTBDS.ViewModels.Home.DuAnNoiBatViewModel>
<section class="content-bg">
    <div class="container">
        <div class="project-hot bds-hot">
            <div class="title-news">
                <h2 class="title-hot"><a href="/du-an">Dự án nổi bật</a></h2>
                <span class="span-hot"></span>
            </div>
            <div class="carousel-wrapper">
                <div class="customNavigation">
                    <a class="btn prev  prev2 glyphicon glyphicon-menu-left"></a>
                    <a class="btn next next2 glyphicon glyphicon-menu-right"></a>
                </div>
                <div id="metmet" class="owl-carousel">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <div class="item">
                                <div class="item-project">
                                    <div class="box-item">
                                        <a href="/du-an/@item.Title.UrlFriendly()-@item.Id"><img title="@item.Title" alt="@item.Title" src="@item.Image" /></a>
                                        <a href="/du-an/@item.Title.UrlFriendly()-@item.Id">
                                            <p>@item.Title</p>
                                        </a>

                                        <span>@Html.Raw(item.Excerpt.Truncate(200, "...", Truncator.FixedNumberOfWords))</span>
                                        <div class="address2">
                                            <span class="icon-address-box"></span>
                                            <span>@item.Address</span>
                                        </div>
                                        <div class="bottom-dn">
                                            <span>Giá bán</span><label><b>@(item.Price)</b></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

        </div>
    </div>
</section>




