@using PROJECTBDS.Helpers
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 box-search">
    <div class="title-sr">
        <span class="icon-search-dangtin"></span>
        Tìm kiếm bất động sản
    </div>
    <div class="bg-search">
        @using (Html.BeginForm("TimKiembatDongSan", "Home", FormMethod.Get, new {role = "form", id="realSearchForm"}))
        {
            <input type="text" name="s" id="s" placeholder="Nhập tên dự án hoặc vị trí" value="">
            <div class="row gutter-5">
                <div class="col-xs-6">
                    <select name="province" id="province">
                        <option>Tỉnh/Thành phố</option>
                        @foreach (var item in LoadData.ProvinceList())
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="col-xs-6">
                    <select name="district" id="district" data-value="">
                        <option value="">Quận/Huyện</option>
                    </select>
                </div>
            </div>
            <div class="row gutter-5">
                <div class="col-xs-6">
                    <select name="type">
                        <option>Loại Bất động sản</option>
                        @foreach (var item in LoadData.CategoryList())
                        {
                            <option value="@item.Id">@item.Title</option>
                        }
                    </select>
                </div>
                <div class="col-xs-6">
                    <select name="method">
                        <option>Loại giao dịch</option>
                        @foreach (var item in LoadData.TransactionList())
                        {
                            <option value="@item.Id">@item.Title</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row gutter-5">
                <div class="col-xs-6">
                    <select name="direction">
                        <option>Hướng</option>
                        @foreach (var item in LoadData.DirectionList())
                        {
                            <option value="@item.Id">@item.Title</option>
                        }
                    </select>
                </div>
                <div class="col-xs-6">
                    <select name="price" id="rePrice">
                        <option>Khoảng giá</option>
                        <option value="0|500">Từ 0 đến 500tr</option>
                        <option value="501|1000">Từ 500tr đến 1tỷ</option>
                        <option value="1001|2000">Từ 1tỷ đến 2tỷ</option>
                        <option value="2001|4000">Từ 2tỷ đến 4tỷ</option>
                        <option value="4001|7000">Từ 4tỷ đến 7tỷ</option>
                        <option value="7001|10000">Từ 7tỷ đến 10tỷ</option>
                    </select>
                </div>
            </div>
            <button type="submit">Tìm kiếm</button>

        }
      
    </div>
</div>
