@using PROJECTBDS.Infrastructure
@model IEnumerable<PROJECTBDS.ViewModels.Home.DuAnBdsViewModel>
<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
    <div class="news-list">
        <div class="news-box">
            <div class="title-news">
                <h2><a href="/sieu-thi-dia-oc">Bất động sản mới nhất</a></h2>
                <span></span>
            </div>
            <div class="content-news-lst">
                <ul>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                          
                            <li>
                                <a href="~/sieu-thi-dia-oc/@item.TieuDe.UrlFriendly()-@item.Id">
                                    <img src="@(item.Image)" alt="@item.TieuDe">
                                </a>
                                <div class="r-listnews">
                                    <div class="right-listnews">
                                        <a href="~/sieu-thi-dia-oc/@item.TieuDe.UrlFriendly()-@item.Id">@item.TieuDe</a>
                                        <p>
                                            <span class="duan">Dự án : @item.DuAn</span>
                                            <span class="malo">Mã lô : @item.MaSoNhaDat</span>
                                        </p>
                                        <p>
                                            <span class="dientich">Diện tích : @item.DienTich</span>
                                            <span class="huong">Hướng nhà : @item.HuongNha</span>
                                        </p>
                                        <p>
                                            <span class="duongvao">Đường trước mặt : @item.DuongMatTruoc</span>
                                            <span class="phaply">Pháp lý : @item.PhapLy</span>
                                        </p>
                                        <!--<p></p>-->
                                    </div>
                                    <!--<div class="address-icon"><span class="icon-address-box"></span></div>-->
                                    <div class="right-icon"><span style="float: none; margin-top: 0; font-size: 18px;">Giá</span><label><b>@Convert.ToDecimal(item.Gia).ToString("N0")</b></label>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="text-ul" style="height:35px;">
                <!--<a href="/sieu-thi-dia-oc" style="width: auto;padding: 8px 12px;border: 1px solid #CCC;background: #fb6801;    text-transform: uppercase;color: #FFF;font-weight: bold">Xem các tin khác</a>-->
                <ul class="pagination">
                    <li class="prev disabled"><span>«</span></li>
                    <li class="active"><a href="/sieu-thi-dia-oc?page=1&amp;per-page=15" data-page="0">1</a></li>
                    <li><a href="/sieu-thi-dia-oc?page=2&amp;per-page=15" data-page="1">2</a></li>
                    <li><a href="/sieu-thi-dia-oc?page=3&amp;per-page=15" data-page="2">3</a></li>
                    <li><a href="/sieu-thi-dia-oc?page=4&amp;per-page=15" data-page="3">4</a></li>
                    <li><a href="/sieu-thi-dia-oc?page=5&amp;per-page=15" data-page="4">5</a></li>
                    <li><a href="/sieu-thi-dia-oc?page=6&amp;per-page=15" data-page="5">6</a></li>
                    <li><a href="/sieu-thi-dia-oc?page=7&amp;per-page=15" data-page="6">7</a></li>
                    <li><a href="/sieu-thi-dia-oc?page=8&amp;per-page=15" data-page="7">8</a></li>
                    <li><a href="/sieu-thi-dia-oc?page=9&amp;per-page=15" data-page="8">9</a></li>
                    <li><a href="/sieu-thi-dia-oc?page=10&amp;per-page=15" data-page="9">10</a></li>
                    <li class="next"><a href="/sieu-thi-dia-oc?page=2&amp;per-page=15" data-page="1">»</a></li>
                </ul>
            </div>
        </div>
        <div class="logo-box">
            <div class="title-logo">Chủ đầu tư &amp; đối tác uy tín</div>
            <div class="carousel-wrapper">
                <div class="customNavigation">
                    <a class="btn logo-load-prev glyphicon glyphicon-menu-left"></a>
                    <a class="btn logo-load-next glyphicon glyphicon-menu-right"></a>
                </div>
                <div class="logo-load owl-carousel owl-theme" style="opacity: 1; display: block;">
                    <div class="owl-wrapper-outer">
                        <div class="owl-wrapper" style="width: 1644px; left: 0px; display: block;">
                            <div class="owl-item" style="width: 137px;">
                                <a href="/" target="_blank">
                                    <img class="img-responsive" src="/Content/assets/img/KhangDien_570cca788b96c.jpg" alt="Khang Điền">
                                </a>
                            </div><div class="owl-item" style="width: 137px;">
                                <a href="/du-an/villapark" target="_blank">
                                    <img class="img-responsive" src="/Content/assets/img/villapark-logo_570cca4696568.jpg" alt="Villa Park">
                                </a>
                            </div><div class="owl-item" style="width: 137px;">
                                <a href="/du-an/thevenica" target="_blank">
                                    <img class="img-responsive" src="/Content/assets/img/logo--upweb_5719a51faaf05.png" alt="Venica">
                                </a>
                            </div><div class="owl-item" style="width: 137px;">
                                <a href="/du-an/lucasta">
                                    <img class="img-responsive" src="/Content/assets/img/logolucastavilla_57062199da636_570ccd9c04fe5.png" alt="Lucasta">
                                </a>
                            </div><div class="owl-item" style="width: 137px;">
                                <a>
                                    <img class="img-responsive" src="/Content/assets/img/capitaland_570cca53ea9a3.jpg" alt="CapitalLand">
                                </a>
                            </div><div class="owl-item" style="width: 137px;">
                                <a href="/du-an/hadocentrosagarden/gioi-thieu" target="_blank">
                                    <img class="img-responsive" src="/Content/assets/img/hado-logo-web_577766fe5702c.jpg" alt="tap doan ha do">
                                </a>
                            </div>
                        </div>
                    </div>






                    <div class="owl-controls clickable" style="display: none;"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div></div></div>
                </div>
            </div>
        </div>
    </div>
</div>

