@using PROJECTBDS.Infrastructure
@using PagedList.Mvc;
@using PagedList;
@using PROJECTBDS.ViewModels.Home
@model IPagedList<DuAnBdsViewModel>
<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
    <div class="news-list">
        <div class="news-box">
            <div class="title-news">
                <h2><a href="/sieu-thi-dia-oc">Bất động sản mới nhất</a></h2>
                <span></span>
            </div>
            <div class="content-news-lst">
                <ul>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {

                            <li>
                                <a href="~/sieu-thi-dia-oc/@item.TieuDe.UrlFriendly()-@item.Id">
                                    <img src="@(item.Image)" alt="@item.TieuDe">
                                </a>
                                <div class="r-listnews">
                                    <div class="right-listnews">
                                        <a href="~/sieu-thi-dia-oc/@item.TieuDe.UrlFriendly()-@item.Id">@item.TieuDe</a>
                                        <p>
                                            <span class="duan">Dự án : @item.DuAn</span>
                                            <span class="malo">Mã lô : @item.MaSoNhaDat</span>
                                        </p>
                                        <p>
                                            <span class="dientich">Diện tích : @item.DienTich</span>
                                            <span class="huong">Hướng nhà : @item.HuongNha</span>
                                        </p>
                                        <p>
                                            <span class="duongvao">Đường trước mặt : @item.DuongMatTruoc</span>
                                            <span class="phaply">Pháp lý : @item.PhapLy</span>
                                        </p>
                                        <!--<p></p>-->
                                    </div>
                                    <!--<div class="address-icon"><span class="icon-address-box"></span></div>-->
                                    <div class="right-icon">
                                        <span style="float: none; margin-top: 0; font-size: 18px;">Giá</span><label><b>@item.DisplayPrice()</b></label>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="text-ul" style="height: 35px;">
                <ul class="pagination">
                    @Html.PagedListPager(Model, page => Url.Action("Index", "Home", new { page }))
                </ul>
            </div>
        </div>
        <div class="logo-box">
            <div class="title-logo">Chủ đầu tư &amp; đối tác uy tín</div>
            <div class="carousel-wrapper">
                <div class="customNavigation">
                    <a class="btn logo-load-prev glyphicon glyphicon-menu-left"></a>
                    <a class="btn logo-load-next glyphicon glyphicon-menu-right"></a>
                </div>
                <div class="logo-load owl-carousel owl-theme" style="opacity: 1; display: block;">
                    <div class="owl-wrapper-outer">
                        <div class="owl-wrapper" style="width: 1644px; left: 0px; display: block;">
                            <div class="owl-item" style="width: 137px;">
                                <a href="/" target="_blank">
                                    <img class="img-responsive" src="/Content/assets/img/KhangDien_570cca788b96c.jpg" alt="Khang Điền">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

