@using PROJECTBDS.Models
@using PROJECTBDS.Helpers
@using Humanizer
@using PROJECTBDS.ViewModels.Home
@using PROJECTBDS.Infrastructure
@using PagedList.Mvc
@model PagedList.IPagedList<DuAnNoiBatViewModel>
@{
    ViewBag.Title = "Danh sách dự án.";
    var otherProjects = ViewBag.LeftColumn as List<DuAnNoiBatViewModel>;
}
<section class="head-bg-bottom">
    <div class="container">
        <h2>Dự án bất động sản</h2>
    </div>
</section>
<section class="content-bottom">
    <div class="container">
        <div class="row">
            <div class="news-list col-md-9">
                <div class="title-news">
                    <h2 class="title-hot">Dự án mới nhất</h2>
                    <span class="span-hot"></span>
                </div>
                <div class="clearfix"></div>
                <div class="list-project">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="box-list-po col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="box-item">
                                    <div class="border-list">
                                        <a href="/du-an/@item.Title.UrlFriendly()-@item.Id" title="@item.Title">
                                            <img title="@item.Title" alt="@item.Title" src="@item.Image" />
                                        </a>
                                        <a href="/du-an/@item.Title.UrlFriendly()-@item.Id" title="@item.Title">
                                            <p>@item.Title</p>
                                        </a>
                                        <span>@Html.Raw(item.Excerpt.Truncate(200, "..."))</span>
                                        <div class="address2">
                                            <span class="icon-address-box"></span>
                                            <span>@item.Address</span>
                                        </div>
                                        <div class="bottom-dn">
                                            <span>Giá bán</span><label><b>@item.Price</b></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="text-ul">
                        <ul class="pagination">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                        </ul>
                    </div>
                </div>
            </div>
            <div class="event-box col-md-3">
                <div class="search-bds">
                    <div class="title-sr">
                        <img src="~/Content/assets/images/search-icon.png" alt="">
                        Tìm kiếm Dự Án
                    </div>
                    <div class="bg-search">
                        <form id="realSearchForm" role="form" action="/frontend/projects/search" method="get">
                            <input type="text" name="s" id="s" placeholder="Nhập tên dự án hoặc vị trí" value="">
                            <select name="province" id="province">
                                <option value="0">Tỉnh/Thành phố</option>
                                @foreach (var item in LoadData.ProvinceList())
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                            <select name="district" id="district" data-value="">
                                <option value="0">Quận/Huyện</option>
                            </select>
                            <select name="type">
                                <option value="0">Loại dự án</option>
                                @foreach (var item in LoadData.ProjectTypeList())
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            </select>
                            <button type="submit">Tìm kiếm</button>
                        </form>
                    </div>
                </div>
                <div class="event-r" style="margin-bottom:0">
                    <div class="title-news">
                        <h2>Dự án nổi bật</h2>
                        <span></span>
                    </div>
                    <div class="content-event content-project">
                        <div>
                            @foreach (var item in otherProjects)
                            {
                                <div class="item">
                                    <a class="post-title" href="/du-an/@item.Title.UrlFriendly()-@item.Id" title="@item.Title">
                                        <h6>@item.Title</h6>
                                    </a>
                                    <div class="post-info">
                                        <a class="post-thumb" href="/du-an/@item.Title.UrlFriendly()-@item.Id" title="@item.Title">
                                            <img style="width: 80px" class="img-responsive" title="@item.Title" alt="@item.Title" src="@item.Image"></a>
                                        <div class="list-hot">
                                            <p>
                                                <span class="address-font glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                                @item.Address
                                            </p>
                                            <p>
                                                <span class="icon-tien-list"></span>
                                                Giá bán<br>
                                                <b>@item.Price</b>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="event-r">
                    <div class="title-news">
                        <h2><a href="/tim-kiem-su-kien?timetype=1">Sự kiện sắp diễn ra</a><a></a></h2><a>
                            <span></span>
                        </a>
                    </div><a>
                    </a><div class="content-event padding-right-event">
                        <a>
                            <ul></ul>
                        </a><div class="details-button">
                            <a>
                            </a><a href="/su-kien"> Xem thêm <img src="~/Content/assets/img/detail-button.jpg"></a>
                        </div>
                    </div>
                </div>
                @Html.Partial("_Partial_Subscribe")
            </div>
        </div>
    </div>
</section>