@model List<PROJECTBDS.Models.tblImage>

<table id="postTable" class="table table-striped table-bordered table-hover table-checkable order-column nomenutable">
    <thead>
        <tr>
            <th> # </th>
            <th> Ảnh </th>
            <th> Link</th>
            <th> Loại </th>
            <th> Thứ tự hiển thị</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        @{int i = 0;}
        @foreach (var item in Model)
        {
            <tr class="odd gradeX" id="post@(item.Id)">
                <td> @(i = i + 1) </td>
                <td>
                    <img src="~/Images/Sliders/@item.Image" class="img-responsive" style="width:200px; border:1px solid #ff0000" />
                </td>
                <td>
                    <a href="#" title="#" target="_blank">@item.URL</a>
                </td>
                <td>@item.tblDictionary.Title</td>
                <td>@item.Orders</td>
                <td>
                    <a class="btn btn-xs btn-warning dropdown-toggle" onclick="EditImage(@item.Id)">
                        Edit
                    </a>
                    <button class="btn btn-xs btn-danger dropdown-toggle" type="button" onclick="deletePost(@item.Id);">
                        Delete
                    </button>
                </td>
            </tr>
        }

    </tbody>
</table>

