@using PROJECTBDS.Models
@using PROJECTBDS.Helpers
@using PROJECTBDS.ViewModels.Home
@using PROJECTBDS.Infrastructure
@using PagedList.Mvc
@model PagedList.IPagedList<DuAnBdsViewModel>
@{ 
    ViewBag.Title = "Danh sách nhà đất.";
}

<section class="head-bg-bottom">
    <div class="container">
        <h1>Siêu thị địa ốc</h1>
    </div>
</section>
<section class="content-bottom page-event page-real">
    <div class="container">
        <div class="row">
            <div class="news-list col-md-9">
                <h2 class="page-title page-title-style-1 hide">Bất động sản tại việt nam</h2>
                <div class="news-list">
                    <div class="news-box">
                        <div class="title-news">
                            <h2>Bất động sản mới nhất</h2>
                            <span></span>
                        </div>
                        <div class="content-news-lst">
                            <ul>
                                @foreach (var item in Model)
                                {
                                    <li>
                                        <a href="~/sieu-thi-dia-oc/@item.TieuDe.UrlFriendly()-@item.Id">
                                            <img src="@(item.Image)" alt="@item.TieuDe">
                                        </a>
                                        <div class="r-listnews">
                                            <div class="right-listnews">
                                                <a href="~/sieu-thi-dia-oc/@item.TieuDe.UrlFriendly()-@item.Id" title="@item.TieuDe">@item.TieuDe</a>
                                                <p>
                                                    <span class="duan">Dự án : @item.DuAn</span>
                                                    <span class="malo">Mã lô : @item.MaSoNhaDat</span>
                                                </p>
                                                <p>
                                                    <span class="dientich">Diện tích : @item.DienTich</span>
                                                    <span class="huong">Hướng nhà : @item.HuongNha</span>
                                                </p>
                                                <p>
                                                    <span class="duongvao">Đường trước mặt : @item.DuongMatTruoc</span>
                                                    <span class="phaply">Pháp lý : @item.PhapLy</span>
                                                </p>
                                                <!--<p></p>-->
                                            </div>
                                            <!--<div class="address-icon"><span class="icon-address-box"></span></div>-->
                                            <div class="right-icon">
                                                <span style="float: none; margin-top: 0; font-size: 18px;">Giá</span><label><b>@item.DisplayPrice()</b></label>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="text-ul">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                    </div>
                </div>
            </div>
            <div class="event-box col-md-3">
                <div class="search-bds">
                    <div class="title-sr">
                        <img src="~/Content/assets/images/search-icon.png" alt="">
                        Tìm kiếm bất động sản
                    </div>
                    <div class="bg-search">
                        <form id="realSearchForm" role="form" action="/tim-kiem-bat-dong-san" method="get">
                            <input type="text" name="s" id="s" placeholder="Nhập tên dự án hoặc vị trí" value="">
                            <select name="province" id="province">
                                <option value="0">Tỉnh/Thành phố</option>
                                @foreach (var item in LoadData.ProvinceList())
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                            <select name="district" id="district" data-value="">
                                <option value="">Quận/Huyện</option>
                            </select>

                            <select name="type">
                                <option value="0">Loại Bất động sản</option>
                                @foreach (var item in LoadData.CategoryList())
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            </select>
                            <select name="area">
                                <option value="0|0">Diện tích</option>
                                <option value="0|30">&lt;= 30 m2</option>
                                <option value="30|50">30 - 50 m2</option>
                                <option value="50|80">50 - 80 m2</option>
                                <option value="80|100">80 - 100</option>
                                <option value="100|150">100 - 150 m2</option>
                                <option value="150|200">150 - 200 m2</option>
                                <option value="200|250">200 - 250 m2</option>
                                <option value="250|300">250 - 300 m2</option>
                                <option value="300|500">300 - 500 m2</option>
                                <option value="500|10000">&gt; 500 m2</option>
                            </select>
                            <select name="bedroom" id="bedroom">
                                <option value="0">Số phòng ngủ</option>
                                @for (int i = 1; i < 7; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                            <select name="bathroom" id="bathroom">
                                <option value="0">Số phòng tắm</option>
                                @for (int i = 1; i < 6; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                            <select name="direction">
                                <option value="0">Hướng</option>
                                @foreach (var item in LoadData.DirectionList())
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            </select>
                            <select name="price" id="rePrice">
                                <option value="0|0">Khoảng giá</option>
                                <option value="0|500">Từ 0 đến 500tr</option>
                                <option value="501|1000">Từ 500tr đến 1tỷ</option>
                                <option value="1001|2000">Từ 1tỷ đến 2tỷ</option>
                                <option value="2001|4000">Từ 2tỷ đến 4tỷ</option>
                                <option value="4001|7000">Từ 4tỷ đến 7tỷ</option>
                                <option value="7001|10000">Từ 7tỷ đến 10tỷ</option>
                            </select>
                            <button type="submit">Tìm kiếm</button>
                        </form>
                    </div>
                </div>
                @Html.Partial("_Partial_Subscribe")
            </div>
        </div>
    </div>
</section>