@model PROJECTBDS.Models.tblProject
@{
    ViewBag.Title = "Thêm mới";
}
<script src="~/Content/ckeditor/ckeditor.js"></script>
<script src="~/Content/ckfinder/ckfinder.js"></script>
<section class="content-header">
    <h1>
        Thêm mới
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Thêm mới</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                @using (Html.BeginForm("CreateProject", "ProjectManage", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        <div class="form-horizontal">
                            <div class="row" style="margin-top: 20px">
                                <div class="col-md-12">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="control-label col-lg-4 col-md-4">Tiêu đề</label>
                                                <div class="col-lg-8 col-md-8">
                                                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control", required = "required" })
                                                </div>
                                                <br /><br /><br />
                                                <label class="control-label col-lg-4 col-md-4 ">MetaDesc</label>
                                                <div class="col-lg-8 col-md-8">
                                                    @Html.TextBoxFor(model => model.MetaDesc, new { @class = "form-control", required = "required" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="control-label col-lg-4 col-md-4">Hình đại diện</label>
                                            <div class="col-lg8 col-md-8">
                                                <img style="width:100px; height:100px; border:1px solid #0094ff" id="_Image" title="Image đại diện" />
                                                <input type="button" class="btn btn-danger" onclick="BrowseServer()" value="open" />
                                                @Html.HiddenFor(model => model.Image)
                                            </div>
                                        </div>

                                    </div>

                                    <div class="form-group">

                                        <label class="control-label col-lg-2 col-md-2">MetaTitle</label>
                                        <div class="col-lg-4 col-md-4">
                                            @Html.TextBoxFor(model => model.MetaTitle, new { @class = "form-control", required = "required" })
                                        </div>
                                    </div>

                                    <div class="form-group" style="padding-right:15px;">
                                        <label class="control-label col-lg-2 col-md-2">Mô tả</label>
                                        <div class="col-lg-10 col-md-10">
                                            @Html.TextAreaFor(model => model.Content, new { @class = "form-control", required = "required" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2 col-md-2">Các hình khác</label>
                                        <div class="col-lg-10 col-md-10">
                                            <input type="file" name="ListImage" id="ListImage" multiple class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-10 col-md-offset-2">
                                            <button type="submit" name="btnSave" class="btn btn-success">Save</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        CKEDITOR.replace("Content");

        function BrowseServer() {
            // You can use the "CKFinder" class to render CKFinder in a page:
            var finder = new CKFinder();
            finder.basePath = '../';	// The path for the installation of CKFinder (default = "/ckfinder/").
            finder.selectActionFunction = SetFileField;
            finder.popup();

            // It can also be done in a single line, calling the "static"
            // popup( basePath, width, height, selectFunction ) function:
            // CKFinder.popup( '../', null, null, SetFileField ) ;
            //
            // The "popup" function can also accept an object as the only argument.
            // CKFinder.popup( { basePath : '../', selectActionFunction : SetFileField } ) ;
        }

        // This is a sample function which is called when a file is selected in CKFinder.
        function SetFileField(fileUrl) {
            $('#_Image').attr('src', fileUrl);
            $('#Image').val(fileUrl);
        }
    </script>
}
