@using PROJECTBDS.Infrastructure
@using PROJECTBDS.Models
@using PROJECTBDS.ViewModels
@model PROJECTBDS.ViewModels.Home.DuAnViewModel
@{
    ViewBag.Title = "DuAn";

    var itemTongQuan = Model.DuAn.tblProjectDetail.FirstOrDefault(t => t.ProjectId == Model.DuAn.Id && t.DictionaryId == (int)EnumProject.TongQuan);

    var itemViTri = Model.DuAn.tblProjectDetail.FirstOrDefault(t => t.ProjectId == Model.DuAn.Id && t.DictionaryId == (int)EnumProject.ViTri);

    var viTri = new tblDictionary();

    if (itemViTri != null)
    {
        viTri = itemViTri.tblDictionary;
    }
    var itemTienIch = Model.DuAn.tblProjectDetail.FirstOrDefault(t => t.ProjectId == Model.DuAn.Id && t.DictionaryId == (int)EnumProject.TienIch);

    var tienIch = new tblDictionary();

    if (itemTienIch != null)
    {
        tienIch = itemTienIch.tblDictionary;
    }

    var itemMatBang = Model.DuAn.tblProjectDetail.FirstOrDefault(t => t.ProjectId == Model.DuAn.Id && t.DictionaryId == (int)EnumProject.MatBangTongThe);

    var matBang = new tblDictionary();

    if (itemMatBang != null)
    {
        matBang = itemMatBang.tblDictionary;
    }

    var slugProject = Model.DuAn.Title.UrlFriendly() + "-" + Model.DuAn.Id;


}
<section class="content-bottom page-child">
    <div class="container">
        <div class="nav-content project-nav project-nav-horizontal">
            <div class="row gutter-0">
                <div class="col-xs-12 col-sm-6">
                    <div class="row gutter-0">
                        <div class="col-xs-6 col-sm-3">
                            <a class="project-item project-item-logo">
                                <i class="icon">
                                    <img class="" src="@Model.DuAn.Image" alt="@Model.DuAn.Title">
                                </i>
                            </a>
                        </div>

                        @if (itemTongQuan != null)
                        {<div class="col-xs-6 col-sm-3">
                            <a href="@Url.RouteUrl("DuAn",
                                             new
                                             {
                                                 slug = slugProject,
                                                 key = itemTongQuan.Title.UrlFriendly() + "-" + itemTongQuan.DictionaryId
                                             })" class="project-item project-about ">
                                <i class="icon">
                                    <img class="svg" src="~/Content/assets/images/project-about.svg" alt="About" />
                                </i>
                                Tổng quan
                            </a>
                        </div>
                        }


                        @if (itemViTri != null)
                        { <div class="col-xs-6 col-sm-3">
                            <a href="@Url.RouteUrl("DuAn",
                                             new
                                             {
                                                 slug = slugProject,
                                                 key = viTri.Title.UrlFriendly() + "-" + itemViTri.DictionaryId
                                             })" class="project-item project-location ">
                                <i class="icon">
                                    <img class="svg" alt="Location" src="~/Content/assets/images/project-location.svg" />
                                </i>
                                Vị trí
                            </a>
                        </div>
                        }


                        @if (itemTienIch != null)
                        { <div class="col-xs-6 col-sm-3">
                            <a href="@Url.RouteUrl("DuAn",
                                         new
                                         {
                                             slug = slugProject,
                                             key = tienIch.Title.UrlFriendly() + "-" + itemTienIch.DictionaryId
                                         })" class="project-item project-utilities ">
                                <i class="icon">
                                    <img class="svg" src="~/Content/assets/images/project-utilities.svg" alt="Utilities" />
                                </i>
                                Tiện ích
                            </a>
                        </div>
                        }
                        @if (itemMatBang != null)
                        {
                            <div class="col-xs-6 col-sm-3">
                                <a href="@Url.RouteUrl("DuAn",
                                             new
                                             {
                                                 slug = slugProject,
                                                 key = matBang.Title.UrlFriendly() + "-" + itemMatBang.DictionaryId
                                             })" class="project-item project-plan ">
                                    <i class="icon">
                                        <img class="svg" src="~/Content/assets/images/project-plan.svg"/>
                                    </i>
                                    Mặt bằng
                                </a>
                            </div>
                        }
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <div class="row gutter-0">
                        <div class="col-xs-6 col-sm-3">
                            <a href="#" class="project-item project-contact ">
                                <i class="icon">
                                    <img src="~/Content/assets/images/contact_icon.svg" />
                                </i>
                                Liên hệ
                            </a>
                        </div>
                    </div>
                </div>
                

            </div>

        </div>

        <div class="page-content editor-content">

            @if (Model.DuAn.Content == null)
            {
                <div class="page-block page-text-block">
                    <h2 class="page-title">@ViewBag.KeyDetails.Title</h2>
                    <div class="page-content editor-content">
                        @Html.Raw(ViewBag.KeyDetails.Content)
                    </div>
                </div>
            }
            else
            {
            
                <div class="page-block page-text-block">
                    <h2 class="page-title">@(itemTongQuan != null ? itemTongQuan.Title : "") </h2>
                    <div class="page-content editor-content">
                        @Html.Raw(itemTongQuan != null ? itemTongQuan.Content : "")
                    </div>
                </div>
            }
            <div class="clearfix"></div>
        </div>
        <div class="page-bottom">
            <div class="share-link">
                <div class="inner">
                    Share Link
                    <a target="_blank" rel="nofollow" href="https://plus.google.com/share?url=http%3A%2F%2Fsunlandsg.vn%2Fdu-an%2Fmasteri-an-phu%2Fmat-bang"><span class="icon-google-plus-social-logotype"></span></a>
                    <a target="_blank" rel="nofollow" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fsunlandsg.vn%2Fdu-an%2Fmasteri-an-phu%2Fmat-bang"><span class="icon-facebook-logo"></span></a>
                </div>
            </div>			<div class="project-other">
                <h3 class="border-bottom">DỰ ÁN BẤT ĐỘNG SẢN</h3>
                <div class="list-project">
                    <div class="row">
                        @Html.Partial("_DuAnKhac", Model.DuAnKhac)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
