@model PROJECTBDS.ViewModels.Home.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}
<section class="bg-sldier">
    <div class="container">
        <div class="head-title">
            <div class="row">
                <div class="col-md-offset-4 col-md-8">
                    <h1>chào mừng bạn đến siêu thị địa ốc <span>Bùi Ngọc Niệm</span></h1>
                </div>
            </div>
        </div>
        <div class="bg-content-slider">
            <div class="row">
                @Html.Partial("_Partial_Search")
                @Html.Action("_Partial_Slider", "Home")
            </div>
        </div>
    </div>
</section>
@Html.Partial("_Partial_Project", Model.DuAnNoiBat)
<section class="content-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                @Html.Partial("_Partial_LandSale", Model.BatDongSanBan)
                @Html.Partial("_Partial_LandForRent", Model.BatDongSanChoThue)
            </div>
            @Html.Partial("_Partial_Event")
        </div>
    </div>
</section>
@section scripts {
    <script src="~/Scripts/land.js"></script>
}