@model PROJECTBDS.ViewModels.Home.Land

@{
    ViewBag.Title = "SieuThiDiaOc";
}

<section class="content-bottom page-event page-real">
    <div class="container">
        <div class="page-content editor-content">
            <h1 class="page-title page-title-style-1">@Model.TieuDe</h1>
            <div class="row">
                <div class="col-sm-7">
                    <div class="page-gallery">
                        <ul class="light-slider">
                            <li>
                                <img src="@(Model.Image)" width="635" height="380" alt="@Model.TieuDe" title="@Model.TieuDe" />
                            </li>
                         
                        </ul>
                    </div>
                    <div class="box box-attribute">
                        <h3 class="box-title">Thông tin mô tả</h3>
                        <div class="row gutter-5 mb-content">
                            @Html.Raw(Model.Content)
                        </div>
                    </div>
                    <div class="box box-attribute">
                        <h3 class="box-title">Bình luận</h3>
                        <div class="row gutter-5 mb-content">
                            <div class="box-comment facebook-conmment">
                                <div id="fb-root"></div>
                                <script>
                                    (function(d, s, id) {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s); js.id = id;
                                  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5&appId=264185527100832";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }(document, 'script', 'facebook-jssdk'));</script>

                                <div class="fb-comments" data-numposts="5"></div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="col-sm-5">
                    <div class="box-real-detail">
                        <div class="box box-attribute">
                            <h3 class="box-title">đặc điểm chính</h3>
                            <div class="row gutter-5">
                                <div class="col-xs-6 col-md-6">
                                    <div class="item item-lvroom">Loại: <strong>@Model.LoaiBatDongSan</strong></div>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <div class="item item-dnroom"><strong>@Model.LoaiGiaoDich</strong></div>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <div class="item item-bedroom"><!--Dự án : --><strong>@Model.DuAn</strong></div>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <div class="item item-area">Diện tích: <strong>@Model.DienTich</strong></div>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <div class="item item-directions">Hướng: <strong>@Model.HuongNha</strong></div>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <div class="item item-floors">Pháp lý: <strong>@Model.PhapLy</strong></div>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <div class="item item-road">Đường rộng : <strong>@Model.DuongMatTruoc</strong></div>
                                </div>

                            </div>
                        </div>
                        <!--<h3 class="title box-title"></h3>-->
                        <!--<p></p>-->
                        <div class="address"><img src="~/Content/assets/images/icon-address-2.jpg">@Model.Address</div>
                        <a class="btn btn-block btn-showmap" id="btshowmap" data-lat="10.8428402" data-lng="106.8286851">Xem Vị trí trên Google Map</a>
                        <div class="text-center price">
                            Giá: <strong>@Model.DisplayPrice()</strong>

                        </div>
                     
                        <div class="box box-contact-info">
                            <div class="row">
                                <div class="col-xs-8">
                                    <h3 class="box-title box-sub-title">Liên hệ người đăng tin</h3>
                                    <div class="name">@Model.ClientName</div>
                                    <div class="email">Email: <a target="_blank" rel="nofollow" href="@Model.ClientEmail">@Model.ClientEmail</a></div>

                                </div>
                                <div class="col-xs-4">
                                    <div class="avatar text-right">
                                        <img class="thumb item-thumb" src="/images?path=image%2Fprofile%2F1.jpg&w=255&h=255&fit=crop">
                                    </div>
                                </div>
                            </div>
                            <div class="hotline text-center">
                                <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span><strong>@Model.Phone</strong>
                            </div>

                        </div>
                        <div class="box box-contact-form">
                            <h3 class="box-title box-sub-title">Form Liên hệ người đăng tin</h3>
                            <p>Bạn còn thắc mắc về căn hộ này, xin vui lòng nhập thông tin bên dưới để chúng tôi giải đáp bạn một cách nhanh chóng, dễ hiễu.</p>
                            <!-- BEGIN ALERT -->
                            <!-- END ALERT -->
                            <form id="project_contact_form" class="project-contact-form" action="/sieu-thi-dia-oc/can-ban-gap-can-goc-biet-thu-300m2-cach-vincom-thao-dien-13-phut-0909128189" method="post">
                                <input type="hidden" name="_csrf" value="Y2k1cUNXeXpSJVomIic2NSohXDoAEykIBURiSQ47Jjg5LAMjJBlOHQ=="><div class="form-group field-frontcontact-name required">
                                    <input type="text" id="frontcontact-name" class="form-control" name="FrontContact[name]" placeholder="Họ và Tên *"><span class="help-block"><div class="help-block"></div></span>
                                </div><div class="form-group field-frontcontact-phone required">
                                    <input type="text" id="frontcontact-phone" class="form-control" name="FrontContact[phone]" placeholder="Điện thoại *"><span class="help-block"><div class="help-block"></div></span>
                                </div><div class="form-group field-frontcontact-email required">
                                    <input type="text" id="frontcontact-email" class="form-control" name="FrontContact[email]" placeholder="Email *"><span class="help-block"><div class="help-block"></div></span>
                                </div><div class="form-group field-frontcontact-content">
                                    <textarea id="frontcontact-content" class="form-control" name="FrontContact[content]" placeholder="Nội Dung"></textarea><span class="help-block"><div class="help-block"></div></span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-submit btn-block btn-default">Gửi Email</button>
                                </div>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <!--<div class="box box-description">
                <h3 class="box-title">Thông tin mô tả</h3>
                <div class="box-content">
                                    </div>
            </div>-->
        </div>
        <div class="page-bottom">
            <div class="share-link">
                <div class="inner">
                    Share Link
                    <a target="_blank" rel="nofollow" href="https://plus.google.com/share?url=http%3A%2F%2Fsunlandsg.vn%2Fsieu-thi-dia-oc%2Fcan-ban-gap-can-goc-biet-thu-300m2-cach-vincom-thao-dien-13-phut-0909128189"><span class="icon-google-plus-social-logotype"></span></a>
                    <a target="_blank" rel="nofollow" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fsunlandsg.vn%2Fsieu-thi-dia-oc%2Fcan-ban-gap-can-goc-biet-thu-300m2-cach-vincom-thao-dien-13-phut-0909128189"><span class="icon-facebook-logo"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
