@using PROJECTBDS.ViewModels
@using PROJECTBDS.Helpers
@using PROJECTBDS.Infrastructure
@model PROJECTBDS.Models.tblNews
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Desc = Model.MetaDesc;
    var otherNews = ViewBag.GetNewsOther as List<EventViewModel>;
    var list = ViewBag.CategoryList as List<CategoryNewsViewModel>;
    string _curDomain = Request.Url.Scheme + System.Uri.SchemeDelimiter + Request.Url.Host + (Request.Url.IsDefaultPort ? "" : ":" + Request.Url.Port);
}

<section class="head-bg-bottom">
    <div class="container">
        <h2>Tin bất động sản</h2>
    </div>
</section>
<section class="content-bottom page-child page-news-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="box box-news-detail editor-content">
                    <div class="box-title box-title-border">
                        <h1>@Model.Title</h1>
                        <div class="news-time">
                            <span class="glyphicon glyphicon-time"></span>@string.Format("{0:hh:mm tt - dd/MM/yyyy}", Model.CreateDate)
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="news-detail">
                            @Html.Raw(Model.Contents)
                        </div>
                    </div>
                </div>
                <div class="page-bottom">
                    <div class="share-link">
                        <div class="inner">
                            Share Link
                            <a target="_blank" rel="nofollow" href="https://plus.google.com/share?url=@_curDomain/tin-tuc/@Model.Title.UrlFriendly()-tt@(Model.Id)"><span class="icon-google-plus-social-logotype"></span></a>
                            <a target="_blank" rel="nofollow" href="https://www.facebook.com/sharer/sharer.php?u=@_curDomain/tin-tuc/@Model.Title.UrlFriendly()-tt@(Model.Id)"><span class="icon-facebook-logo"></span></a>
                        </div>
                    </div>										
                    <div class="box-slide-wraper">
                        <div class="title-news">
                            <h2 class="title-hot">Tin khác</h2>
                            <span class="span-hot"></span>
                        </div>
                        <div class="carousel-wrapper">
                            <div class="customNavigation">
                                <a class="btn prev  glyphicon glyphicon-menu-left"></a>
                                <a class="btn next glyphicon glyphicon-menu-right"></a>
                            </div>
                            <div class="owl-carousel owl-theme" id="logo-load" style="opacity: 1; display: block;">
                               @foreach (var item in otherNews)
                               {
                                <div class="item-wrapper">
                                    <a href="/tin-tuc/@item.Title.UrlFriendly()-tt@(item.Id)" class="item">
                                        <div class="item-image"><img class="img-responsive" src="@item.Image" alt="@item.Title"></div>
                                        <h3 class="item-title">@item.Title</h3>
                                        <div class="item-description">@item.Desc</div>
                                        <div class="item-bottom">
                                            <span class="glyphicon glyphicon-time"></span>@string.Format("{0:hh:mm tt - dd/MM/yyyy}", item.CreateDate)								<span class="corner">xem chi tiết</span>
                                        </div>
                                    </a>
                                </div>
                               }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="box-search box-search-fixtop">
                    <div class="box-title">
                        Tìm kiếm tin tức
                    </div>
                    <div class="box-content">
                        <div>
                            <input type="text" name="s" id="txtSearchNews" placeholder="Nhập tin cần tìm" class="form-control">
                            <button id="btnSearchNews" type="button" class="btn btn-block">Tìm kiếm</button>
                        </div>
                    </div>
                </div>
                <div class="box-sidebar box-category">
                    <div class="box-title">
                        danh mục tin tức
                    </div>
                    <div class="box-content">
                        <ul>
                            @foreach (var item in list)
                            {
                                <li><a href="/tin-tuc/danh-muc-tin-tuc/@item.Title.UrlFriendly()-ds@(item.Id)">@item.Title</a></li>
                            }
                        </ul>
                    </div>
                </div>
                @Html.Partial("_Partial_Subscribe")
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        var owllogo = $('.owl-carousel#logo-load').owlCarousel({
            nav: true,
            items: 6, //10 items above 1000px browser width
            itemsDesktop: [1024, 5], //5 items between 1000px and 901px
            itemsDesktopSmall: [900, 3], // 3 items betweem 900px and 601px
            itemsTablet: [600, 2], //2 items between 600 and 0;
            itemsMobile: false // itemsMobile disabled - inherit from itemsTablet option
        });
        $('#logo-load-next')
            .click(function () {
                owllogo.trigger('owl.next');
            });
        $('.#logo-load-prev')
            .click(function () {
                owllogo.trigger('owl.prev');
            });
    </script>
}