@using PROJECTBDS.ViewModels
@using PROJECTBDS.Infrastructure
@using PROJECTBDS.Services.News
@using PROJECTBDS.Helpers
@model IEnumerable<EventViewModel>
@{
    var list = ViewBag.CategoryList as List<CategoryNewsViewModel>;
    string _curDomain = Request.Url.Scheme + System.Uri.SchemeDelimiter + Request.Url.Host + (Request.Url.IsDefaultPort ? "" : ":" + Request.Url.Port);
    NewServices _data = new NewServices();
}
<section class="head-bg-bottom">
    <div class="container">
        <h2>Tin bất động sản</h2>
    </div>
</section>

<section class="content-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="news-list news-hot">
                    <div class="title-news">
                        <h2 class="title-hot">Tin tức nổi bật</h2>
                        <span class="span-hot"></span>
                    </div>
                    <div class="box-content">
                        <div class="row gutter-0">
                            @{
                                var firstItem = Model.FirstOrDefault();
                                if (firstItem != null)
                                {
                                    <div class="col-sm-8">
                                        <a href="/tin-tuc/@firstItem.Title.UrlFriendly()-tt@(firstItem.Id)" class="item-hot item-hot-lv1" style="background-image:url('@firstItem.Image')">
                                            <div class="item-info">
                                                <h3 class="item-title">@firstItem.Title</h3>
                                                <div class="item-description"> @firstItem.Desc</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-4">
                                        @foreach (var item in Model.Where(p => p.Id != firstItem.Id).ToList())
                                        {
                                            <a href="/tin-tuc/@item.Title.UrlFriendly()-tt@(item.Id)" class="item-hot item-hot-lv2" style="background-image:url('@item.Image')">
                                                <div class="item-info">
                                                    <h3 class="item-title">@item.Title</h3>
                                                </div>
                                            </a>
                                        }
                                    </div>
                                }

                            }

                        </div>
                    </div>
                </div>
                <!-- project-2-->
                @foreach (var li in list)
                {
                    <div class="box-slide-wraper">
                        <div class="title-news">
                            <h2 class="title-hot">@li.Title</h2>
                            <span class="span-hot"></span>
                        </div>
                        <div class="carousel-wrapper">
                            <div class="customNavigation">
                                <a class="btn prev  glyphicon glyphicon-menu-left"></a>
                                <a class="btn next glyphicon glyphicon-menu-right"></a>
                            </div>
                            <div class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                                @foreach (var n in _data.GetNewsListByCate(li.Id))
                                {
                                    <div class="item">
                                        <a href="/tin-tuc/@n.Title.UrlFriendly()-tt@(n.Id)" class="item">
                                            <div class="item-image"><img class="img-responsive" src="@n.Image"></div>
                                            <h3 class="item-title"> @n.Title</h3>
                                            <div class="item-description">@n.Desc</div>
                                            <div class="item-bottom">
                                                <span class="glyphicon glyphicon-time"></span>@string.Format("{0:hh:mm tt - dd/MM/yyyy}", n.CreateDate)
                                                <span class="corner">xem chi tiết</span>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-3">
                <div class="box-search box-search-fixtop">
                    <div class="box-title">
                        Tìm kiếm tin tức
                    </div>
                    <div class="box-content">
                        <div>
                            <input type="text" name="s" id="txtSearchNews" placeholder="Nhập tin cần tìm" class="form-control">
                            <button id="btnSearchNews" type="button" class="btn btn-block">Tìm kiếm</button>
                        </div>
                    </div>
                </div>
                <div class="box-sidebar box-category">
                    <div class="box-title">
                        danh mục tin tức
                    </div>
                    <div class="box-content">
                        <ul>
                            @foreach (var item in list)
                            {
                                <li><a href="/tin-tuc/danh-muc-tin-tuc/@item.Title.UrlFriendly()-ds@(item.Id)">@item.Title</a></li>
                            }
                        </ul>
                    </div>
                </div>
                @Html.Partial("_Partial_Subscribe")
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $('.owl-carousel').each(function (index, el) {
            var owl = $(this);
            owl.owlCarousel({
                items: 3, //10 items above 1000px browser width
                itemsDesktop: [1000, 3], //5 items between 1000px and 901px
                itemsDesktopSmall: [900, 2], // 3 items betweem 900px and 601px
                itemsTablet: [600, 2], //2 items between 600 and 0;
                itemsMobile: [480, 1] // itemsMobile disabled - inherit from itemsTablet option
            });
            // Custom Navigation Events
            $('.next', $(this).prev()).click(function () {
                owl.trigger('owl.next');
            });
            $('.prev', $(this).prev()).click(function () {
                owl.trigger('owl.prev');
            });
        });
    </script>
}