@using PROJECTBDS.Models
@using PROJECTBDS.Infrastructure
@using PROJECTBDS.Helpers
@model tblNews
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Desc = Model.MetaDesc;
    var list = ViewBag.AboutList as List<tblNews>;
    string _curDomain = Request.Url.Scheme + System.Uri.SchemeDelimiter + Request.Url.Host + (Request.Url.IsDefaultPort ? "" : ":" + Request.Url.Port);
}

<section class="head-bg-bottom">
    <div class="container">
        <h1>Giới thiệu</h1>
        <div class="search-bds">
            <div class="title-sr">
                <img src="~/Content/assets/images/search-icon.png" alt="">
                Tìm kiếm bất động sản
                <span class="glyphicon glyphicon-menu-down"></span>
            </div>
            <div class="bg-search hide">
                <form id="realSearchForm" role="form" action="/tim-kiem-bat-dong-san" method="get">
                    <input type="text" name="s" id="s" placeholder="Nhập tên dự án hoặc vị trí" value="">
                    <div class="row gutter-5">
                        <div class="col-xs-6">
                            <select name="province" id="province">
                                <option value="0">Thành phố</option>
                                @foreach (var item in LoadData.ProvinceList())
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-xs-6">
                            <select name="district" id="district" data-value="">
                                <option value="0">Quận</option>
                            </select>
                        </div>
                    </div>
                    <div class="row gutter-5">
                        <div class="col-xs-6">
                            <select name="type">
                                <option value="0">Loại BĐS</option>
                                @foreach (var item in LoadData.CategoryList())
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            </select>
                        </div>
                        <div class="col-xs-6">
                            <select name="area" id="area">
                                <option value="0|0">Diện tích</option>
                                <option value="0|30">&lt;= 30 m2</option>
                                <option value="30|50">30 - 50 m2</option>
                                <option value="50|80">50 - 80 m2</option>
                                <option value="80|100">80 - 100</option>
                                <option value="100|150">100 - 150 m2</option>
                                <option value="150|200">150 - 200 m2</option>
                                <option value="200|250">200 - 250 m2</option>
                                <option value="250|300">250 - 300 m2</option>
                                <option value="300|500">300 - 500 m2</option>
                                <option value="500|10000">&gt; 500 m2</option>
                            </select>
                        </div>
                    </div>
                    <div class="row gutter-5">
                        <div class="col-xs-6">
                            <select name="bedroom" id="bedroom">
                                <option value="0">Phòng ngủ</option>
                                @for (int i = 1; i < 7; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                        <div class="col-xs-6">
                            <select name="bathroom" id="bathroom">
                                <option value="0">Phòng tắm</option>
                                @for (int i = 1; i < 6; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row gutter-5">
                        <div class="col-xs-6">
                            <select name="direction">
                                <option value="0">Hướng</option>
                                @foreach (var item in LoadData.DirectionList())
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            </select>
                        </div>
                        <div class="col-xs-6">
                            <select name="price" id="rePrice">
                                <option value="0|0">Khoảng giá</option>
                                <option value="0|500">Từ 0 đến 500tr</option>
                                <option value="501|1000">Từ 500tr đến 1tỷ</option>
                                <option value="1001|2000">Từ 1tỷ đến 2tỷ</option>
                                <option value="2001|4000">Từ 2tỷ đến 4tỷ</option>
                                <option value="4001|7000">Từ 4tỷ đến 7tỷ</option>
                                <option value="7001|10000">Từ 7tỷ đến 10tỷ</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit">Tìm kiếm</button>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="content-bottom page-child page-news-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="box box-news-detail editor-content">
                    <div class="box-title box-title-border">
                        @Model.Title
                    </div>
                    <div class="box-content">
                        <div class="news-detail">
                            @Html.Raw(Model.Contents)
                        </div>
                    </div>
                </div>
                <div class="page-bottom">
                    <div class="share-link">
                        <div class="inner">
                            Share Link
                            <a target="_blank" rel="nofollow" href="https://plus.google.com/share?url=@_curDomain/gioi-thieu/@Model.Title.UrlFriendly()-@Model.Id"><span class="icon-google-plus-social-logotype"></span></a>
                            <a target="_blank" rel="nofollow" href="https://www.facebook.com/sharer/sharer.php?u=@_curDomain/gioi-thieu/@Model.Title.UrlFriendly()-@Model.Id"><span class="icon-facebook-logo"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box-sidebar box-category">
                    <div class="box-title">
                        giới thiệu
                    </div>
                    <div class="box-content">
                        <ul>
                            @foreach (var item in list)
                            {
                                <li><a href="/gioi-thieu/@item.Title.UrlFriendly()-@item.Id" title="@item.Title">@item.Title</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="box-sidebar box-category">
                    <div class="box-title">
                        Sự kiện sắp diễn ra
                    </div>
                    <div class="box-content" style="text-align: right">
                        <a href="/su-kien"> Xem thêm <img src="/Content/assets/img/detail-button.jpg"></a>
                    </div>
                </div>
                @Html.Partial("_Partial_Subscribe")
            </div>
        </div>
    </div>
</section>